[data-theme="light"] {
    --color-bg: #faf9fa;
    --color-sidebar-bg: #ffffff;
    --color-sidebar-shadow: rgba(236, 222, 236, 0.12);
    --color-logo-icon: rgb(129, 0, 172);
    --color-logo-bg: rgb(248, 245, 247);
    --color-logo-name: rgb(108, 23, 137);
    --color-link: rgb(125, 94, 138);
    --color-link-hover: rgb(179, 0, 255);
    --color-link-icon: rgb(132, 123, 136);
    --color-divider: rgb(236, 222, 236);
    --color-header: #5d2b60;
}

[data-theme="dark"] {
    --color-bg: #1a1829;
    --color-sidebar-bg: #232136;
    --color-sidebar-shadow: rgba(30, 27, 46, 0.3);
    --color-logo-icon: #d9aaff;
    --color-logo-bg: #2a273f;
    --color-logo-name: #e0def4;
    --color-link: #d8dafd;
    --color-link-hover: #f58f00;
    --color-link-icon: #a6accd;
    --color-divider: #393552;
    --color-header: #e0def4;
}

/* Noto font family */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    background: var(--color-bg);
}

.sidebar {
    background: var(--color-sidebar-bg);
    box-shadow: 0px 0px 4px 4px var(--color-sidebar-shadow);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    z-index: 100;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.sidebar::ms-scrollbar,
.sidebar::webkit-scrollbar {
    display: none;
}

.sidebar.close {
    width: 80px;
    overflow: visible;
}

.sidebar .logo-container {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    position: sticky;
    top: 12px;
    left: 0;
    z-index: 1000;
    background: var(--color-sidebar-bg)
}

.sidebar .logo-container i {
    font-size: 30px;
    color: var(--color-logo-icon);
    height: 48px;
    min-width: 48px;
    text-align: center;
    justify-content: center;
    line-height: 50px;
    background-color: var(--color-logo-bg);
    border-radius: 24%;
}

.sidebar .logo-container .logo-name {
    font-size: 22px;
    color: var(--color-logo-name);
    font-weight: 600;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.sidebar.close .logo-container .logo-name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    margin: 16px;
}


.sidebar .nav-links li {
    position: relative;
    list-style: none;

    &&:hover {
        background-color: var(--color-logo-bg);
        border-radius: 12px;
        transition: all 0.4s ease;
    }
}

.sidebar.close .nav-links li:hover {
    border-radius: 12px 0px 0px 12px !important
}

.sidebar .nav-links li i {
    height: 48px;
    min-width: 48px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: var(--color-link-icon);
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar.close .nav-links li i {
    margin-right: 16px;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(90deg);
}

.sidebar.close .nav-links li i.arrow {
    display: none;
}

.sidebar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .icon-link {
    display: block;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-link);

    &&:hover {
        color: var(--color-link);

    }
}

.sidebar.close .nav-links li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 8px 8px 14px 80px;
    background: var(--color-logo-bg);
    ;
    border-radius: 4px;
    margin-top: -8px;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: var(--color-link);
    font-size: 15px;
    padding: 4px 0px;
    white-space: nowrap;
    opacity: .8;
    transition: all 0.3s ease;

    &&:hover {
        opacity: 1;
    }
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: calc(100% + 4px);
    top: -20px;
    margin-top: 0px;
    padding: 12px 24px;
    border-radius: 0px 4px 4px 0px;
    transition: all 0.4s ease;
    opacity: 0;
    display: block;
    pointer-events: none;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0px;
    opacity: 1;
    pointer-events: auto;
    border-radius: 0px 12px 12px 0px;
}

.sidebar .nav-links li .sub-menu .link-name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link-name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 0;
    pointer-events: none;
    padding: 4px 16px;
}

.sidebar.close .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .nav-links .divider {
    height: 2px;
    width: 100%;
    background-color: var(--color-divider);
    border-radius: 4px;
    margin: 12px 0px;
}

.header-section {
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: var(--color-sidebar-bg);
    box-shadow: 0px 0px 4px 4px var(--color-sidebar-shadow);
  
}

.header-section.close {
    left: 80px;
    width: calc(100% - 80px);
    transition: all 0.5 ease-in;
}

.header-section .header-content .bx-menu {
    color: var(--color-logo-icon);
    font-size: 28px;
    margin: 8px;
    cursor: pointer;
}

.header-section .header-content .title {
    color: var(--color-header);
    font-size: 24px;
    font-weight: 600;
}

/* Theme toggle styles */
.theme-toggle-container, #theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid var(--color-divider);
    background-color: var(--color-logo-bg);
}

.theme-toggle-container:hover {
    transform: scale(1.05);
    background: var(--logo-bg);
}

.theme-toggle-container:hover #theme-toggle {
    /* color: var(--color-link-hover); */
    background-color: var(--color-divider);
}

#theme-toggle {
    font-size: 24px;
    color: var(--text-color);
    transition: all 0.3s ease;
}

#theme-toggle.bx-sun {
    color: #FFD700;
    animation: pulse 1s ease-in-out;
}

#theme-toggle.bx-moon {
    color: var(--color-logo-icon);
    animation: pulse 1s ease-in-out;
}